@media screen and (max-width: 500px) {
  .container-header {
    display: flex;
    position: relative;

    .image-container {
      flex: 1;
      height: 600px;
      width: 600px;
      position: absolute;
      top: -50px;
      right: -250px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .texto-principal {
      flex: 2;
      border: 2px solid red;
      display: flex;
      flex-direction: column;
      height: 650px;
      justify-content: center;
      align-items: center;
      

      

      h1 {
        font-size: 5px;
      }
      
      p {
        font-size: 10px;
      }
      
      h2 {
        font-size: 5px;
      }
    }
    .content {
      text-align: center;
    }
  }
}
