@media screen and (max-width: 500px) {
  .container-header {
    display: flex;
    position: relative;

    .image-container {
      flex: 1;
      height: 600px;
      width: 600px;
      position: absolute;
      top: -50px;
      right: -250px;
      
      
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .texto-principal {
      display: none;
    }

    .content {
      text-align: center;
    }
  }
}
