@media (min-width: 600px) {
  .image-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantém a proporção da imagem sem distorção, cortando se necessário */
  }
}
// // display: flex;
// // height: 100%;
// // object-fit: cover;
// // transform: scale(50vw, 90vh);
// // // position: relative;
// // // justify-content: center;
// // // align-items: center;

// // .image-container {
// // //   overflow: hidden;
// //   img {
// //     height: 100vh;
// //     width: 100vw;
// //     object-fit: cover;
// //     margin-left: 140px;
// //   }
// //

// //   .container-header {
// //     display: block;
// //     .image-container {
// //       display: flex;
// //       flex-direction: column;

// //       img {
// //         margin-left: 220px;
// //       }
// //     }
// // //   }
// // @media screen and (max-width: 700px) {
// //   .container-header {
// //       border: 3px solid red;

// //     .texto {
// //       display: flex;
// //       flex-direction: column;
// //       flex-wrap: nowrap;
// //       font-size: 5px;
// //       padding: 15px;
// //     }

// //     .image-container {
// //       display: flex;
// //       flex-direction: column;

// //       img {
// //         margin-left: 130px;
// //         clip-path: inset(0 30% 0 0);
// //       }
// //     }
// //   }
// // }
