@import "reset";
@import "responsive";

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  background-color: #fff;
}

.container-header {
  display: flex;
  align-items: center; 
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 9px;
  overflow: hidden;

  .texto-principal {
    flex: 1;
    width: 45%;
    z-index: 1;
    // border: 2px solid red;
    padding: 10px;

    h1 {
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 20px;
    }

    h2 {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }

  .image-container {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
    img {
      max-width: 100%;
      transform: scale(1.5);
      transform-origin: top center;
      // object-fit: cover;
    }
  }
  
  .texto-na-frente {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-110%, -50%);
  }
}