@import "reset";
@import "responsive";

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  background-color: #fff;
}

.container-header {
  .image-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;    
    img {
      width: 100%;
      height: 170%;
    }
  }
  .texto-principal {
    position: absolute;
    height: 450px;
    width: 300px;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -40%);
    padding: 20px;
    text-align: left;

    .titulo-principal {
      color: #111111;
      width: 450px;
      font-size: 24px;
      margin-bottom: 40px;
      font-weight: 700;
    }

    p {
      color: #999999;
      font-size: 20px;
      width: 450px;
      margin-bottom: 20px;
      line-height: 1.4;
    }

    h2 {
      width: 680px;
      font-size: 24px;
      margin-bottom: 40px;
      font-weight: 700;
    }
  }
}
